<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}</title>

</head>

    {% block title %}
        <h1>
            response
        </h1>
    {% endblock title %}
    {% block content %}
    <hr>
        {% if news_default.response_set.all %}
            <table>
                <tr>
                <td>Пост</td>
                <td>Автор</td>
                <td>Комментарий</td>
                <td>Дата</td>

                {% for response in response.comment_set.all %}
                    <tr>
                        <td>{{ response.resp_post.title }}</td>
                        <td>{{ response.resp_author }}</td>
                        <td>{{ response.text }}</td>
                        <td>{{ response.dateCreation|date:"d.M.Y" }}</td>
                    </tr>
                {% endfor %}
                </tr>
            </table>
        {% else %}
            <h3>Откликов нет!</h3>

        {% endif %}
    </h3>

    <tr>
        <td style="text-align: left;"> <a class="nav-link" href="/board/{{post.id}}/response/">Оставить комментарий </a>
    </tr>
    {% endblock content %}

